$primary: #5265e1;
$secondary: #fa5959;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "globalstyle.css";

.btn-secondary {
  --bs-btn-color: #fff;
}
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 5px solid red;
}

// Browser Cards
.card-browsers .card-img-top.card-size-icon {
  width: 100px;
  height: 100px;
}
.card-browsers .card-footer {
  background-color: transparent;
  border-top: 2px dotted lightgrey;
}
@media (max-width: 767px) {
  .w-100-mobile {
    width: 100%;
  }
  .nav-tabs .nav-link.active {
    width: 50%;
    margin: 0 auto;
  }
  //   .nav-tabs .nav-link {
  //     border-bottom: 3px solid lightgray;
  //   }
  .nav-tabs .nav-item {
    border-bottom: 3px solid lightgray;
  }
}
